* {
  margin: 0;
  padding: 0;
}
h1 {
	width: 100%;
	text-align:center;
	padding: 1rem 0;
}
.main-table {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  box-shadow: 0 .2rem .5rem #222;
  border-radius: .5rem;
}
.main-table thead {
	background: #999;
}
.main-table thead tr th{
	padding: 1rem 0;
}
.main-table tbody tr:nth-child(odd)  {
	background: #0af;
}
.main-table tbody tr td {
	padding: .5rem;
	text-align: center;
}

.form{
	margin: auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form input{
	margin: .2rem 0;
	padding: .5rem;
	width: 90%;
	font-size: 1.2rem;
	color: #222;
	border: 2px solid #0af;
	border-radius: .5rem;
}
.form button {
	padding: 1rem;
	max-width: 200px;
	border: none;
	border-radius: .3rem;
	background: #0af;
	font-weight: bold; 
}
.links {
	background:  #0af;
	padding: .5rem;
	border-radius: .3rem;
	color: #0f0;
	border: none;
	outline: none;
	font-size: 1.2rem;
	position: relative;
	left: 5rem;
	right: 0;
	margin: 1rem 0;

} 
.links a{
	color: #222;
}
